.top-banner {
    display: flex;
}

.banner-text {
    margin-top: 10%;
    text-align: right;
    height: 100%;
    margin-right: 400px;
}

.contact-us {
    background-color: cornflowerblue;
    color: azure;
    font-size: 20px;
    font-weight: 500;
    border-color: cornflowerblue;
    border-radius: 10px;
}

.banner-img {
    width: 50%;
    margin-top: 5%;
    margin-right: 50px;
    margin-inline-end: 30px;

}

.failures {
    display: flex;
}

.my-failures {
    margin-top: 15%;
}

.part3-heading {
    text-align: center;
}

.my-plans-container {
    display: flex;
    gap: 30px;
    padding-left: 300px;
    text-align: center;
    align-content: center;
}